	<style>
		#map {
  height: 100%;
}

	</style>
	<body id="top">
        <header id="navigation" class="navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
                    </button>
					<!-- /responsive nav button -->
					
					<!-- logo -->
					<h1 class="navbar-brand">
						<!-- <a href="#body"><img src="img/logok2.png" height="45" width="165" alt=""></a> -->
						<a><img src="img/banner.png" height="80" alt=""></a>
					</h1>
					<!-- /logo -->
                </div>

				<!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <ul id="nav" class="nav navbar-nav menu">
                        <li><a href="#top">Home</a></li>
                        <li><a href="#quienessomos">Quienes Somos</a></li>
                        <li><a href="#instalaciones">Instalaciones</a></li>
                        <!--
							<li><a href="#pricing-table">Price</a></li>
                        	<li><a href="#blog">Blog</a></li>
                        	<li><a href="#testimonial">Testimonio</a></li>
							-->
                        <li><a href="#contact-form">Contacto</a></li>
                    </ul>
                </nav>
				<!-- /main nav -->
				
            </div>
        </header>
	<div class="wrapper">
		<section id="banner">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
					</div>
				</div>
			</div>
		</section>
		<section id="quienessomos" style="margin-top: 10px;">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title">
							<h2>Quienes Somos</h2>
						</div>
						Conocemos la importancia de la educación y en la formación de nuestros niños y niñas, aún más si
					cabe el desarrollo como persona dentro de la sociedad. Sabemos que parte de ese desarrollo tiene
					que ver con la educación física y el deporte, aspectos importantes que desarrollan las funciones
					cognitivas, psicomotoras, además de fomentar las actividades de equipo.
					El deporte es uno de los principales pilares para el desarrollo integral del niño o niña como
					persona, con espacios destinados a vivir el deporte, donde las personas transiten en un mismo
					sentido, sin distinción de capacidades, intereses o condiciones, a través de programas y servicios
					de alta calidad, en su contenido como tal e infraestructura. El principio fundamental nuestro , es
					brindar espacios para el deporte formativo , recreativo y especialmente a la competencia , de esta
					manera promovemos “ EL DEPORTE PARA TODOS “sin importar las condiciones de cada individuo
					, con programas acorde a los fines perseguidos por cada uno y además con un equipo docente
					profesional y capacitado , quienes seguirán con sus capacitaciones, con personal docente de
					Racing de Avellaneda ,con quienes mantenemos una alianza, lo cual enaltece más nuestro trabajo,
					y transmitiendo valores tales como : COMPAÑERISMO ,SACRIFICIO , SUPERACIÓN ,
					CABALLEROSIDAD Y RESPETO.

					Es por eso que nos sentimos orgullosos de pertenecer a esta gran institución, que nos da esta gran
					oportunidad de poder continuar con su trabajo, tanto en lo futbolístico como en su filosofía y en la
					entrega de valores, que gracias a eso los a mantenido por muchos años en lo mas grande del
					futbol nacional e internacional. Así enseñamos de forma recreativa y profesional ocupando el ocio
					en tareas mas importantes para el logro de objetivos.
					Los invitamos a vivir esta gran experiencia, maravillosa, donde junto a ustedes podremos ver el
					avance de nuestros hijos e hijas, educándolos de una forma sana, recreativa y de competencia,
					entregando valores para su desarrollo profesional como también personal.

					NUESTRA VISION

					Ser una de las mejores instituciones en formar profesionales, tanto en lo deportivo y personal,
					mejorar la calidad de vida de sus hijos e hijas a través de nuestro método, inculcando los valores,
					acompañándolos en su crecimiento.

					NUESTRA MISION

					Formar en su etapa temprana la responsabilidad tanto en lo educativo y competitivo,
					respondiendo a las necesidades de cada uno, entregando las herramientas concretas y practicas
					para el buen desempeño en su crecimiento. Y además dar una pequeña ayuda, al pilar, a la matriz
					del crecimiento, que es LA FAMILIA.

					</div>

				</div>
			</div>
		</section>	
		
		<section id="instalaciones">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title">
							<h2>Instalaciones</h2>
						</div>
						<div class="block">
							<div class="recent-work-pic">
								<ul id="mixed-items">
									<li class="mix category-1 col-md-4 col-xs-6" data-my-order="1">
										<a class="example-image-link" href="img/ft1.jpg" data-lightbox="example-set">
											<img class="img-responsive" src="img/ft1.jpg" alt="">
										</a>
									</li>
									<li class="mix category-2 col-md-4 col-xs-6" data-my-order="2">
										<a class="example-image-link" href="img/ft2.jpg" data-lightbox="example-set">
											<img class="img-responsive" src="img/ft2.jpg" alt="">
										</a>
									</li>
									<li class="mix category-1 col-md-4 col-xs-6" data-my-order="3">
										<a class="example-image-link" href="img/ft3.jpg" data-lightbox="example-set">
											<img class="img-responsive" src="img/ft3.jpg" alt="">
										</a>
									</li>
									<li class="mix category-2 col-md-4 col-xs-6" data-my-order="4">
										<a class="example-image-link" href="img/ft4.jpg" data-lightbox="example-set">
											<img class="img-responsive" src="img/ft4.jpg" alt="">
										</a>
									</li>
									<li class="mix category-1 col-md-4 col-xs-6" data-my-order="5">
										<a class="example-image-link" href="img/ft5.jpg" data-lightbox="example-set">
											<img class="img-responsive" src="img/ft5.jpg" alt="">
										</a>
									</li>
									<li class="mix category-2 col-md-4 col-xs-6" data-my-order="6">
										<a class="example-image-link" href="img/ft6.jpg" data-lightbox="example-set">
											<img class="img-responsive" src="img/ft6.jpg" alt="">
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>			
		<section id="contact-form">
			<div class="container">
				<div class="row">
					<div class="title">
						<h2>Contacto</h2>
					</div>
					<div class="col-md-4">
							
					</div>
					<div class="col-md-4">
						
					</div>
					<div class="col-md-4">
					</div>
				</div>
			</div>
		</section>
		
		<footer>
			<div class="container" style="color: #fff;">
				Dirección : Calle Independencia 650 Godoy Cruz. Mendoza <br>
				Telefono : +54 9 261 572 6018 <br>	
				<a href="https://www.instagram.com/academiaracing_mdza/" class="text-decoration-none" style="color: #fff;">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
						<path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"/>
						</svg>
                			Siguenos
              			</a>
			</div>
		</footer>
	
	</div>
		<script src="js/jquery-1.11.3.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/waypoints.min.js"></script>
		<script src="js/lightbox.js"></script>
		<script src="js/jquery.counterup.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/html5lightbox.js"></script>
		<script src="js/jquery.mixitup.js"></script>
		<script src="js/wow.min.js"></script>
		<script src="js/jquery.scrollUp.js"></script>
		<script src="js/jquery.sticky.js"></script>
		<script src="js/jquery.nav.js"></script>
		<script src="js/main.js"></script>

	</body>